{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{%block header%} {{title}} {%endblock header%}


{% block content %}

<header1>Current study</header1>
<p>
	Computer Science Technology Degree Apprentice at University of Birmingham in partnership with PwC.
<p>
<header1>Key experience</header1>
<h1>Supervised Learning (February 2020):</h1>
<p>
	Performed univariate non-linear regression and logistic regression on training data using supervised learning in Java. Had to choose appropriate values for alpha and number of epochs as well as implement a GUI to show the regression taking place.
</p>
<h1>Robotics (February 2020):</h1>
<p>
	Designing and building LEGO robots and implementing color detection, obstacle avoidance, line following and searching for objects.
</p>
<h1>Data Structures and Algorithms (Spring term 2020):</h1>
<p>
	As part of this module, I have learnt how to use (in Java) JUnit tests, recursion, csv file manipulation, logging, queues and stacks, binary search trees and priority lists.
</p>
<h1>Foreign Currency Cashier -Travelex (05/11/2018 – 12/03/2019):</h1>
<p>
	Worked sorting orders of foreign currencies from all over the world to be sent to institutions in the UK. Learnt all currency codes off by heart and had to be able to recognize every currency and its denomination. 
</p>
<h1>PWC Reading Work Experience Placement (30/05/2018):</h1>
<p>
	Met with audit partner John Maitland and partner and, then head of the Technology Industry Hub, Sam Taylor, and learnt about an audit on Ascot Racecourse. 
</p>

<header1>Educationn</header1>
<ul>
	<li>A-Level Mathematics A*</li>
	<li>A-Level Geography A*</li>
	<li>A-Level Economics A</li>
	<li>14 GCSEs A*-B</li>
</ul>

<header1>Key skills</header1>
<ul>
	<li>Java</li>
	<li>Python</li>
	<li>Django</li>
	<li>Notpad++</li>
	<li>Eclipse</li>
	<li>PowerShell</li>
	<li>Open Roberta</li>
	<li>LEAN Theorem Prover</li>
	<li>HTML</li>
	<li>CSS</li>
</ul>

<header1>Interests</header1>
<ul>
	<li>Machine Learning</li>
	<li>Web Development</li>
	<li>AI</li>
</ul>

<header1>Non-Academic</header1>
<ul>
	<li>Birmingham University Chess Society Chariman 2020/21</li>
	<li>Keen fiction and non-fiction reader</li>
	<li>Part of Birmingham University basketball campus league</li>
</ul>



{% endblock content %}