{% extends "base1.html" %}

{% block title %}{{title}}{% endblock title %}

{%block header%} {{title}}(); {%endblock header%}

{% block content %}
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;Welcome to my website. Thank you for visiting. On this site you will find a <a href="/blog">blog</a> in which I talk about things of interest to me within Computer Science. I also have a <a href="/projects">projects</a> page with a list of programs I have worked on or am working on in my spare time. Hopefully the <a href="/CV">CV</a> page is self explanatory:). If you would like to contact me for any reason, whether it be about how I made my website, or anything else, please do not hesitate to reach out using the <a href="/contact">contact</a> form. Thank you, and enjoy!
	
<p>

{% endblock content %}