@charset "utf-8";
  #header {
	  border-style: none;
	  width: 100%;	
	  /*height: auto;
	  padding-top: 1%;
	  padding-left: 1%;*/
	  border-radius: 25px 25px 0px 0px;
	 
  }
  #wrapper {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 35px;
    width: 60%;	
	background-color: #FFFFFF;
	border-radius: 25px;
	 
	 
  }
  
  #big_header {
	  text-align: center;
	  font-family: Helvetica, sans-serif;
	  font-size: 12em;
	  padding-top: 15%;
	  
	 
  }
  
  html{
	height: 100%;
	width: 100%;
  }
  body {
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: left;
    color: #000000;
	background-image:url("alps2.jpg");
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	
  }
  
  #index_header {
	  text-align: center;
	  font-family: Helvetica, sans-serif;
	  font-size: 15em;
	  padding: 50% 0% 50% 0%;
	  
  }
  
  #date {
	  font-family: Helvetica, sans-serif;
	  color: #969696; 
	  text-align: right;
  }
  h1 {
	  
	  font-size: 1.2em;
	  
  }
  
  pi3{
	
	background-image:url("alps2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  h3{
	  
	  width: 60%;
	  padding-top: 5%;
	  margin: auto;
	  text-align: center;
	  font-size: 9em;
	 
  }
 
  
  header1 {
	  color: #8B4513;
	  font-size: 1.5em;
  }
  h2 {
	  padding-top: 30px;
  }
	
	
  a {
	  color: #8B4513;
	  font-weight: bold;
	  text-decoration: none;
	  transition-timing-function: ease;
	  
  }
  a:hover{
	  color: #000000;
  }

  #footer {
      text-align: center;
      font-size: 0.8em;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #FFFFFF;
      border-top: thin solid #BBBBBB;
      clear: both;
      color: #969696;
	  border-radius: 0px 0px 25px 25px;
  }
  @keyframes fade {
  0%   {opacity:0}
  100%  {opacity:1}
  
}
  #button{
	font-size: 5em;
	float: center;
	text-align: center;
	position: relative;
	margin-left: -50vw;
	left: 50%;
	background-color: #FFFFFF;
	width: 100vw;
	background-size: cover;
	color: #000000;
	animation-name: fade;
	animation-duration: 6s;
		
  }
  #img {
	  border-radius: 50%;
	  height: 200px;
	  float: right;
	  margin-right: 50px;
	  margin-left: 30px;
  }
  
  #parallax {
	
	background-image: url("alps2.jpg"); 
	height: 60%;
	width: 100%;
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	
	}
	
  #main {
      width: 560px;
      margin: 0% 10% 0% 10%;
      padding-bottom: 50px;
  }

  
  #top_menu {
      
      padding: 75px 50px 75px 50px;
      font-size: 1.5em;
	  text-align: center;
      color: #270c39;
  }
  
  ul.errorlist {
    margin: 0;
    padding: 0;
  }
  .errorlist li {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.15);
    list-style-position: inside;
    display: block;
    font-size: 1.2em;
    margin: 0 0 3px;
    padding: 4px 5px;
    text-align: center;    
    border-radius: 3px;
  }
  input, textarea {
    width: 100%;
    padding: 5px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(169,169,169)
  }
  input {	
    height: 30px;
  }
  .success {
    background-color: #69e08b;
    padding: 10px;
    text-align: center;
    color: green;
    border: 1px solid green;
    border-radius: 3px;
  }
  .required label:after {
	  content:"*";
  }